<title>Home page </title>
<body>
<%- include('header.ejs') %>

<hr class="text-light"/>
<br/>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4"> Welcome To Secret Keeper App</h2>
                <p>Welcome to Secret Keeper, where you can securely store and manage your secrets and thoughts.</p>
               
                <h3>How It Works:</h3>
                <ol>
                    <li>Register or login to your account securely.</li>
                    <li>Compose your secret or post a review using the provided forms.</li>
                    <li>Explore all published secrets anonymously on the main posts page.</li>
                    <li>Manage your own posts in the profile section where you can like and delete them.</li>
                    <li>Enjoy the peace of mind that your secrets are safely stored and managed.</li>
                </ol>
                <br>
                <h3>Features:</h3>
                <ul>
                    <li><strong>Compose Secrets:</strong> Users can create and publish their secrets using a title and content.</li>
                    <li><strong>Post Reviews:</strong> Share your feedback and reviews about our platform on the review page.</li>
                    <li><strong>View All Posts:</strong> Browse through all published secrets without revealing the identity of the users.</li>
                    <li><strong>Profile Section:</strong> View and manage your own posts. Like posts and delete them as needed.</li>
                </ul>
                <br>
                <p>Start sharing your secrets and experiences with confidence today on Secret Keeper!</p>
                <p>If you have any questions or feedback, please feel free to contact us. Your privacy and satisfaction are our top priorities.</p>
                <br>
            </div>
        </div>
    </div>
    </body>
    
    </html>
